* {
  margin: 0;
  padding: 0;
}
body {
  background: url(bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  height: 60vh;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.195);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  border-radius: 50px;
}

div input {
  height: 34px;
  width: 80%;
  padding: 10px;
  font-size: 25px;
  border-radius: 50px;
}

button {
  height: 54px;
  width: 30%;
  font-size: 25px;
  border-radius: 50px;
}
button:hover {
  background-color: rgba(233, 250, 106, 0.754);
  box-shadow: 10px 5px 50px 10px rgba(233, 250, 106, 0.754);
}
